*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-weight: normal;
}

:root {
  --base-font-size: 18px;
  --dark-slate-gray: #335c67;
  --vanilla: #fff3b0;
  --hunyadi-yellow: #e09f3e;
  --auburn: #9e2a2b;
  --chocolate-cosmos: #540b0e;
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  color: var(--chocolate-cosmos);
  scroll-behavior: smooth;
  font-size: var(--base-font-size);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: white;
  padding: 8px;
  visibility: hidden;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1%;
}

dialog {
  display: grid;
  padding: 1rem;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
dialog:not([open]) {
  display: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

dialog::content {
  background: var(--vanilla);
  border-radius: 1rem;
  box-shadow: 0 0 20px -17px #000;
  padding: 1rem;
}

dialog > button {
  cursor: pointer;
  min-width: 4vw;
  margin: 1rem auto;
}

dialog > button:hover {
  background: var(--hunyadi-yellow);
  color: var(--chocolate-cosmos);
}

.main-header {
  margin-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.main-content {
  background: var(--vanilla);
  border-radius: 1rem;
  box-shadow: 0 0 20px -17px #000;
  margin: auto;
  max-width: 968px;
  padding: 1%;
}
.container {
  margin: auto;
}

.container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
}

.container .row .column {
  max-width: 50%;
}

section.output {
  max-width: 720px;
  margin: auto;
}

.output-container {
  background: var(--chocolate-cosmos);
  border-radius: 2rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.66rem auto;
  padding-left: 1rem;
}

.output-container code {
  font-size: clamp(0.75rem, 0.1875rem + 2.8125vw, 1.25rem);
  padding: 3px;
  position: relative;
  vertical-align: center;
}

.output-container button {
  background: var(--white);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid var(--chocolate-cosmos);
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: -1px;
  height: calc(var(--base-font-size) * 4);
  min-width: 125px;
  text-shadow: 0 1px 0 var(--chocolate-cosmos);
}

.output-container button:hover,
.output-container button:active,
.output-container button:focus {
  background: var(--hunyadi-yellow);
  color: var(--chocolate-cosmos);
}

.output-container:last-of-type {
  border-radius: 0;
  padding: 0.5rem;
}

strong,
label span {
  display: inline-block;
  font-size: clamp(0.5rem, 0.5714rem + 0.5357vw, 0.667rem);
  font-weight:900;
  line-height: 1.5;
  margin-bottom: 0.1rem;
}



input,
label {
  max-width: 100%;
}

/* input[type="checkbox"] {
    position: relative;
    z-index: -1;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
    background: pink;
    border: 1px solid black;
    content: 'hi';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px; 
    height: 400px;
    z-index: 1;
    transform: translate(-50%, -50%);
} */

input,
button {
  background: var(--chocolate-cosmos);
  border: none;
  border-radius: 2rem;
  color: var(--white);
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: 900;
  font-size: var(--base-font-size);
  padding: 0.334rem;
  outline: 3px solid transparent;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}

input:focus,
input:active,
input:focus-within {
  background: var(--white);
  color: var(--chocolate-cosmos);
  outline: 3px solid var(--dark-slate-gray);
}

#clampExample {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.loader {
  aspect-ratio: 1/1;
  border: 5px solid #f3f3f3; /* Light grey background */
  border-top: 5px solid #3498db; /* Blue color */
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: auto;
  animation: spin 2s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
